[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = seram@tuta.com
	name = seramm
	signingkey = 71FD25533F5E97CF
[commit]
	gpgSign = true
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg = lg1
  adog = log --all --decorate --oneline --graph
  cb = branch -vv
  st = status

  wdiff = diff --word-diff
	pushf = push --force-with-lease --force-if-includes
	rc = rebase --continue
	ds = diff --staged
	rs = restore --staged
  fix = commit -p --amend --no-edit
  ahead = log --branches --not --remotes --simplify-by-decoration --graph --oneline
  master = !basename $(git rev-parse --abbrev-ref origin/HEAD)
	lpr = !git log --oneline --graph $(git rev-parse --abbrev-ref @{u} 2>/dev/null) $(git merge-base origin/$(git master) HEAD)..HEAD
